*.*~
**/logs/*
*/logs
*.raw
*.srf
*.log
*.ahdlSimDB
**/m2s_run.m
**/m2s_*
Design/ArchitectureDesign/vdd_speed_test/log/*
Thesis/Latex/*.aux
Thesis/Latex/*.toc
Thesis/Latex/*.lof
Thesis/Latex/*.blg
Thesis/Latex/*.lot
Thesis/Latex/*.bbl
Thesis/Latex/*.log
Thesis/Latex/*.out
Thesis/Latex/*.pdf
